<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

</footer>

<script>
  $(document).ready(function() {
    $('.fancybox').fancybox({
        padding : 0,
        openEffect  : 'elastic'
    });
  });
</script>
