{% if include.all_images %}
  {% assign images = post.all_images %}
{% else %}
  {% if post %}
    {% assign images = post.images %}
  {% else %}
    {% assign images = page.images %}
  {% endif %}
{% endif %}

{% for image in images %}
  {% assign attrs = image | split: "|" %}
  {% assign source = attrs.first | strip %}
  {% if attrs.size == 2 %}
    {% assign title = attrs.last | strip %}
  {% else %}
    {% assign title = nil %}
  {% endif %}

  {% include image src=source small=true title=title %}
{% endfor %}
