<div class="post">
  <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>

  <h2>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h2>
  {% if post.thumbnail %}
    {% include thumbnail src=post.thumbnail %}
  {% endif %}
  {{ post.excerpt }}
  
  {% assign tags = post | tags %}
  {% if tags != "" %}
    <div class="tags">
      <p>Теги: {{ tags }}</p>
    </div>
  {% endif %}

  <div class="read-more">
    <a class="post-link" href="{{ post.url | relative_url }}">читать далее...</a>
  </div>
</div>