<aside id="sidebar">
  <section class="about-widget">
    <img src="/assets/images/avatar.jpg">
    <p>Этот блог появился в первую очередь для меня самой. Как практика - помнить и осознавать себя, каждый бесценный день своей жизни.</p>

    <p class="without-margin">Во-вторых, для родных. Чтобы они могли лучше следить за происходящим. Хоть немного прочувствовать наши впечатления и переживания.
    Ну и конечно, для друзей и всех тех, кому будет интересно следить за нашими сказочными приключениями.
    Пожалуйста, не судите строго. Это всего лишь мои заметки. Если вам понравится - я буду рада.</p>
  </section>

  <section class="instagram-widget">
    <a href="http://instagram.com/karmelalla" target="_blank">
      <h4><img src="/assets/images/instagram.png" class="icon">Instagram (@karmelalla)</h4>
    </a>
    <div class="instagram-wrapper">
      <img class="ratio" src="http://placehold.it/1x1/ffffff"/>
      <iframe src="http://lightwidget.com/widgets/e406d2d089835e6b992ece7f8418f050.html" scrolling="no" class="lightwidget-widget"></iframe>
      <a href="http://instagram.com/karmelalla" target="_blank">
        <div class="instagram-link"></div>
      </a>
    </div>
  </section>

  <section class="subscription-widget">
  </section>
</aside>

