<section id="snow"></section>

<script src="https://unpkg.com/magic-snowflakes@4.1.0/dist/snowflakes.min.js"></script>

<script>
  $(document).ready(function() {
    var windowWidth = window.innerWidth;
    if (windowWidth > 1200) {
      var sf = new Snowflakes({
        container: document.getElementById('snow'),
        count: 30, // 30 snowflakes. Default: 50
        speed: 0.7, // The property affects the speed of falling. Default: 1
        useRotate: true, // Default: true
        useScale: true // Default: true
      });
    }
  });
</script>
