---
---

$link-color: #2a7ae2;

header {
  .wrapper {
    background-image: url(/assets/images/downtown2.jpg);
  
    .site-title, .page-link {
      color: $link-color
    }

    .site-title {
      float: right;
    }
  }
}

nav.menu {
  a {
    color: $link-color;
  }
}