---
---
@import "minima";

@font-face {
    font-family: Palatino_Linotype;
    src: url(/assets/palatino_linotype.ttf);
}

$font-text: Palatino, "Palatino_Linotype", "Book Antiqua", serif;

@mixin border-shadow {
  box-shadow: 0 0 10px rgba(0, 78, 102, 0.6);
  border-radius: 5px;
}

body {
  font-size: 17px;
  font-family: $font-text;
  // background-color:  #e6ffff;
  background-color: #e6f9ff;
}

.page-content {
  padding-top: 5px;
}

.wrapper {
  padding: 0;
  .post {
    padding: 10px 20px;
    margin: 20px 0px;
    position: relative;
    background-color: white;
    @include border-shadow;
    img {
      @include border-shadow;
    }
    a:not(.post-link, .fancybox) {
      text-decoration: underline;
    }
    a.fancybox:hover {
      text-decoration: none;
    }
    .post-title {
      font-size: 210%;
    }
    .read-more {
      margin-top: -15px;
      text-align: right;
      font-style: italic;
      a {
        font-size: 18px;
      }
    }
    .go-to-post {
      margin-top: 0;
    }

    // a.post-link {
    // }
    // .top-left-img {
    //   background-image: url(/assets/images/frame_13.png);
    //   left: 0;
    //   top: 0;
    // }
    // .bottom-right-img {
    //   background-image: url(/assets/images/frame_23.png);
    //   right: 0;
    //   bottom: 0;
    // }
  }
}

header, footer {
  &.site-header, &.site-footer {
    border: 0;
  }
  font-style: italic;
  .wrapper {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 5px;
    background-repeat: no-repeat; 
    background-position:center; 
    padding: 0;
  }
}

header {
  .wrapper {
    background-image: url(/assets/images/golden_gate_v2.jpg);
    height: 163px;
    .site-title, .page-link {
      padding: 0;
      color: #ff6600;
      // text-align: right;
      // text-decoration: underline;
      // text-shadow: 3px 2px;
    }
    .site-title {
      padding: 0 20px;
      font-weight: bold;
      font-size: 210%;
    }
    .page-link {
      text-decoration: underline;
    }
    .site-nav{
      background: transparent;
      border: none;
      padding: 0 20px;
      position: static;
      font-size: 19px;
    }
  }
}

.pagination {
  margin-top: 30px;
  font-style: italic;
}

footer {
  &.site-footer {
    padding: 0;
  }
  .wrapper {
    background-image: url(/assets/images/tiburon_v2.jpg);
    height: 163px;
    .footer-col-wrapper {
      margin-left: 0;
    }
    .footer-heading {
      padding-top: 5px;
      margin-bottom: 5px;
    }
    .footer-heading, .contact-list, .footer-col {
      text-align: center;
      color: white;
      margin-bottom: 0;
      a {
        color: white;
        text-decoration: underline;
      }
    }
    .footer-col-wrapper {
      .footer-col-3 {
        float: right;
      }
    }
  }
}

.subscribe {
  position: relative;
  margin: auto;
  padding: 2px 0;
  margin-top: 10px;
  max-width: calc(800px - (30px * 2));
  @include border-shadow;
  font-size: 15px;
  font-weight: bold;
  background: white;  
  text-align: center;

  input {
    margin-left: 3px;
  }
}
  
.thumbnail {
  img {
    margin-bottom: 10px;
    // margin-right: 10px;
    // float: left;
    // width: 50%; 
  }
}
