---
---
@import "minima";

body {
}

.post {
  position: relative;

  .top-left-img, .bottom-right-img {
    position: absolute;
    width: 100px;
    height: 50px;
  }

  .top-left-img {
    background-image: url(/assets/images/prame11.png);
    left: 0;
    top: 0;
  }

  .bottom-right-img {
    background-image: url(/assets/images/prame22.png);
    right: 0;
    bottom: 0;
  }
}

header {

  .wrapper {
    background-image: url(/assets/images/golden_gate.jpg);
    background-repeat: no-repeat; 
    background-size:contain;
    background-position:center; 
    height: 163px;
    .site-title, .page-link {
      color: #ff6600;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-style: italic;
      // text-align: right;
      // text-decoration: underline;
      // text-shadow: 3px 2px;
      }
    .site-title {
      font-weight: bold;
      font-size: 210%;
      }
    .page-link {
    text-decoration: underline;
    }
  }
}

footer {
  .wrapper {
    background-image: url(/assets/images/tiburon.jpg);
    background-repeat: no-repeat; 
    background-size:contain;
    background-position:center; 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
  
   .footer-heading {
      text-align: center;
    }
  }
}
  // .footer-col-wrapper{

  //  .p{

  //  } 

  }
}

div {
  // border: 1px solid #000;

  &.wrapper {
    padding-right: 60px;
  }
}

