@media screen and (max-width: 980px) {

  body {
    width: 98%;
  }

  .page-content {
    width: 68%;
  }

  #sidebar {
    width: 30%;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 650px) {

  header {
    height: auto;
  }

  .menu, .subscribe {
    position: static;
  }

  .page-content {
    width: auto;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
    margin: 10px 0;
  }

}

@media screen and (max-width: 480px) {

  nav.menu {
    font-size: 90%;
  }

  a.post-link {
   font-size: 80%;
  }

  .wrapper .post .post-title {
    font-size: 150%;
  }

  header .wrapper .site-title {
    font-size: 130%;
  }

}

img {
  max-width: 100%;
  height: auto;
}

