---
---

@media screen and (max-width: 980px) {

  body, footer {
    width: 98%;
  }

  .page-content {
    width: 68%;
  }

  #sidebar {
    width: 30%;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 820px) {

  header {
    height: auto;
  }

  .menu, .subscribe {
    position: static;
  }

  .page-content {
    width: auto;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
    margin: 10px 0;
  }

  footer {
    .wrapper {

      .footer-heading {
        font-size: 110%;
      }

      .footer-col-wrapper {
        font-size: 80%;

        .footer-col-1, .footer-col-3 {
          width: calc(100% - (30px / 2));
        }
      }

    }
  }

}

@media screen and (max-width: 480px) {

  nav.menu {
    font-size: 90%;
  }

  a.post-link {
   font-size: 80%;
  }

  .wrapper .post .post-title {
    font-size: 150%;
  }

  header .wrapper .site-title {
    font-size: 130%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

